* {
  margin: 0;
  color: white;
  font-family: "Work Sans", sans-serif;
}

:root {
  --main-color-normal: #1b1a51;
  --main-color-dark: #000122;
}

/* Main page */

.landing {
  height: 100vh;
  background-color: var(--main-color-normal);
  background-image: url("../images/landing-art.svg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
}

.heading {
  margin: 10em;
}

h1 {
  font-size: 6em;
  font-family: "Roboto";
  margin-bottom: 20px;
}

p {
  font-size: 1.5em;
  margin-bottom: 5px;
}

.register {
  font-size: 1.25em;
  margin-top: 25px;
  padding: 0.75em 4em;
  background-color: #fb5555;
  border: none;
  border-radius: 5px;
}

.register:hover {
  background-color: #d44949;
  cursor: pointer;
}

.register:focus {
  outline: 0;
}

/* About page */

.bg-color {
  background-color: var(--main-color-dark);
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.page {
  width: 70%;
  display: flex;
  flex-flow: row;
  justify-content: left;
  margin-top: 100px;
}
.pageRight {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.title {
  font-size: 2.5em;
}

.para-video {
  display: flex;
  flex-flow: column;
}

.para {
  width: 40%;
  min-width: 500px;
  font-size: 1.25em;
}

iframe {
  min-width: 500px;
}

.youtube {
  max-height: 300px;
}

center {
  margin-top: 5em;
  padding-bottom: 5em;
  height: auto;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1f417e;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2b5bb0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #193465;
}

@media (max-width: 1500px) {
  .page {
    width: 90%;
  }
}

@media (max-width: 1150px) {
  .page {
    flex-flow: column;
  }
  .youtube {
    height: 300px;
    margin-top: 5em;
  }
}

@media (max-width: 640px) {
  .landing {
    height: 60vh;
    width: 100%;
    overflow: hidden;
  }
  .bg-color {
    background-color: var(--main-color-dark);
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
  }
  h1 {
    font-size: 2.5em;
  }
  .register {
    padding: 0.5em 2em;
  }
  .heading {
    width: 100%;
    margin: 5em 3em;
  }
  .page {
    width: 70%;
    display: flex;
    flex-flow: column;
    justify-content: none;
    margin: 0;
    margin: 0 3em;
  }
  .title {
    font-size: 1.5em;
  }
  iframe {
    min-width: 300px;
  }
  .para {
    min-width: 300px;
  }
  .para-video {
    margin-bottom: 2em;
  }
  .spacing {
    margin-top: 4em;
  }
  .youtube {
    height: auto;
    margin-top: 1em;
    margin-bottom: 3em;
  }
}
